<!-- コーデ一覧 -->
<!-- <div class="corde-visual">
</div> -->
<h1>コーデ</h1>
<%# @cordes.each do |corde| %>
	<%#= attachment_image_tag item, :photo,:fill,50,50,format:'jpg' %>
	<%#= corde.corde_name %>
	<%#= corde.season %>
<%# end %>
